

@media(max-width: 800px){
    #cart{
        display: none;
    }

}

@media(min-width: 801px){
    .cart_button{
        display: none;
    }
    .cart_overlay{
        display: none;
    }
}

@media(max-width: 570px){
    button {
        font-size: 10px;
    }
    .order_button {
        font-size: 10px;
    }
}

@media (max-width: 420px){
    h3 {
        font-size: 10px;
        margin: 8px 0 8px 8px;
    }

    h2{
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
    
    td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}
.cart_overlay {
    
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 1000; /* Optional: Stellt sicher, dass das Overlay über anderen Elementen liegt */
}
}


body .d_none{
    display: none;
}