@media(max-width: 400px){
    h3 {
        font-size: 14px;
        margin: 8px 0 8px 8px;
        display: none;
    }

    h2{
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
}

@media(max-width: 800px){
    #cart{
        display: none;
    }
}

@media(min-width: 801px){
    .cart_button{
        display: none;
    }
    .cart_overlay{
        display: none;
    }
}

@media(max-width: 370px){
    

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}
.cart_overlay {
    background-color: white;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 1000; /* Optional: Stellt sicher, dass das Overlay über anderen Elementen liegt */
}
}

body .d_none{
    display: none;
}