#logo_img {
    width: 200px;
    margin-bottom: 5px;
}

#shop-description {
    background-color: rgb(228, 223, 223);
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 200px;
}

#shop-description h1, p{
    margin-left: 10px;
}

#categories {
    display: flex;
    width: 100%;
    gap: 30px;
    
}

#categories h3{
    margin-left: 10px;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(../img/description-bg-img.jpg);
    height: 400px;
    background-size: cover; /* Passt das Bild an die Größe der Section an */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
    background-position: center; /* Zentriert das Hintergrundbild */
    max-width: 100%;
}