#max-width-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    background-color: orange;
}

#logo_img {
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#shop-description {
    background-color: rgb(228, 223, 223);
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
}

#shop-description h1, p{
    margin-left: 10px;
}

#categories {
    display: flex;
    background-color: rgb(159, 149, 149);
    width: 100%;
    gap: 30px;    
}

#categories h3{
    margin-left: 10px;
}

#top {
    background-image: url('./img/description-bg-img.jpg');
    height: 300px;
    background-size: cover; /* Passt das Bild an die Größe der Section an */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
    background-position: center; /* Zentriert das Hintergrundbild */
    max-width: 100%;
    
}

#shop-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    
}

